modules = ["nodejs-20", "web", "bash", "nix", "python-base-3.13"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "All Bots"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "All Bots"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node launchers/all-bots.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=4000 node bot/telegram-bot.js"
waitForPort = 4000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 3004

[[ports]]
localPort = 3005
externalPort = 3005

[[ports]]
localPort = 3006
externalPort = 3000

[[ports]]
localPort = 3007
externalPort = 5173

[[ports]]
localPort = 3008
externalPort = 3008

[[ports]]
localPort = 3009
externalPort = 3001

[[ports]]
localPort = 3010
externalPort = 3010

[[ports]]
localPort = 3012
externalPort = 3002

[[ports]]
localPort = 3013
externalPort = 6800

[[ports]]
localPort = 4000
externalPort = 4000

[[ports]]
localPort = 4200
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "bot/start-all.js"]

[userenv]

[userenv.shared]
TELEGRAM_API_ID = "26372402"
TELEGRAM_PHONE = "+6285962694573"
TELEGRAM_API_HASH = "a2732d77a9abc513db065170f563a603"
SESSION_SECRET = "@Namakamusiapa123"
X_COOKIES = "auth_token=667cadf4b3339a86bd832a3a62b06f469b464aff; ct0=5b5015d02d84f41d79f47bfbbcb43814e136f7010cb7d9ab93ba13806eecb8241a35d77e4c6abebbdbb04eea7e44c9e89e43ec5ef1a39077069f8db31440d3157c9dede7df5fe9abf13aced6e92bb449"
GETTR_USERNAME = "S285977661902811136"
GETTR_PASSWORD = "ssbmAwsTFh"
ANONCHAT_COOKIES = "auth_token=1784875109087-bfc28c01-7392-4e17-be15-0edcb37cfcde; user_id=5f9bed96-50f4-4a11-8b84-de50921411ce"
X_AUTH_TOKEN = "667cadf4b3339a86bd832a3a62b06f469b464aff"
X_CT0 = "5b5015d02d84f41d79f47bfbbcb43814e136f7010cb7d9ab93ba13806eecb8241a35d77e4c6abebbdbb04eea7e44c9e89e43ec5ef1a39077069f8db31440d3157c9dede7df5fe9abf13aced6e92bb449"
