modules = ["nodejs-20", "web", "bash", "nix"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OpenTalk Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Yapping Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SillyChat Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Chatib Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DuckChat Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "X Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TemanID Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RandomPacar Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GETTR Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Facebook Bot"

[[workflows.workflow]]
name = "OpenTalk Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 node bot/opentalk-bot.js"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Yapping Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3002 node bot/yapping-bot.js"
waitForPort = 3002

[[workflows.workflow]]
name = "SillyChat Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 node bot/silly-bot.js"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Chatib Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3003 node bot/chatib-bot.js"
waitForPort = 3003

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "DuckChat Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3004 node bot/duckchat-bot.js"
waitForPort = 3004

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "X Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3005 node bot/x-bot.js"
waitForPort = 3005

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=4000 node bot/telegram-bot.js"
waitForPort = 4000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "TemanID Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3006 node bot/temanid-bot.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "RandomPacar Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3007 node bot/randompacar-bot.js"
waitForPort = 3007

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Facebook Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3009 node bot/facebook-bot.js"
waitForPort = 3009

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 3004

[[ports]]
localPort = 3005
externalPort = 3005

[[ports]]
localPort = 3006
externalPort = 3000

[[ports]]
localPort = 3007
externalPort = 5173

[[ports]]
localPort = 3008
externalPort = 3008

[[ports]]
localPort = 3009
externalPort = 3009

[[ports]]
localPort = 4000
externalPort = 4000

[[ports]]
localPort = 4200
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "bot/start-all.js"]

[userenv]

[userenv.shared]
TELEGRAM_API_ID = "26372402"
TELEGRAM_PHONE = "+6285962694573"
TELEGRAM_API_HASH = "a2732d77a9abc513db065170f563a603"
SESSION_SECRET = "@Namakamusiapa123"
X_COOKIES = "auth_token=6e614da9793ecbe2322d9fd4af24821bdecbe6db; ct0=6c7ded1538f3fc4bd72cac048dd719348eae8e01d13317ebfbf5a2acb8938cc7bb12a26f88fa31166ac5bb0311fa8af4de3e06cd624c4f81910ea5124de3efc03f5d944f45301ad2d22cc8bc6082ed28"
GITHUB_TOKEN = "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"
GETTR_USERNAME = "celadini"
GETTR_PASSWORD = "nR5wT9LqqV"
FB_COOKIES = "dbln=%7B%2261591974366760%22%3A%22tnLPukDO%22%2C%22100045593525178%22%3A%222MtyaqBV%22%7D; datr=_qVcan8v0BT20xE-XsM0TvqK; ps_l=1; ps_n=1; sb=EKZcalMm7Z8ElBHX7njYcwYA; locale=id_ID; vpd=v1%3B1200x599x2.0375001430511475; dpr=2.0375001430511475; c_user=61566570355541; xs=37%3Aol8CtnfI2Ar0Fw%3A2%3A1784532439%3A-1%3A-1; fr=0C8AngNIoKXcbJgt3.AWeY16AjuzgROUEuMjQucOgGF4P9C3MDH3KVHUyFJ3_RbT6GHwA.BqXKYQ..AAA.0.0.BqXc3b.AWePgf9EwHmB7-Q6ujovdRxUYdw; pas=61591974366760%3A4y3dr9wDZ8%2C100016908273908%3AOVLMYimoD3%2C100023449360931%3APqU6CuGass%2C100045593525178%3AM0puyqEkHW%2C61566570355541%3AsotJwSunZ4; wl_cbv=v2%3Bclient_version%3A3222%3Btimestamp%3A1784532444; fbl_st=100421906%3BT%3A29742207"
